version: '3.7'
name: hello-quix
services:

  redpanda:
    container_name: redpanda
    image: docker.redpanda.com/redpandadata/redpanda:v23.2.19
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --node-id 0
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      # Address the broker advertises to clients that connect to the Kafka API.
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:18082
      # Address the broker advertises to clients that connect to the HTTP Proxy.
      - --advertise-pandaproxy-addr internal://redpanda:8082,external://localhost:18082
      - --schema-registry-addr internal://0.0.0.0:8081,external://0.0.0.0:18081
      # Redpanda brokers use the RPC API to communicate with each other internally.
      - --rpc-addr redpanda:33145
      - --advertise-rpc-addr redpanda:33145
      - --mode dev-container
      - --set auto_create_topics_enabled=true
    ports:
      - 18081:8081
      - 18082:8082
      - 19092:9092
      - 19644:9644
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster health | grep -E 'Healthy:.+true' || exit 1"]
      interval: 15s
      timeout: 3s
      retries: 5
      start_period: 5s

  console:
    container_name: redpanda-console
    image: docker.redpanda.com/redpandadata/console:v2.3.8
    entrypoint: /bin/sh
    command: -c "echo \"$$CONSOLE_CONFIG_FILE\" > /tmp/config.yml; /app/console"
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda:9092"]
          schemaRegistry:
            enabled: true
            urls: ["http://redpanda:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda:9644"]
        connect:
          enabled: true
          clusters:
            - name: local-connect-cluster
              url: http://connect:8083
    ports:
      - 8080:8080
    depends_on:
      - redpanda

  csv-data-source:
    container_name: csv-data-source
    restart: always
    build:
      context: "./csv data source"
    environment:
      - KAFKA_BROKER_ADDRESS=redpanda:9092
      - output=csv-data
      - Quix__Portal__Api=https://portal-api.platform.quix.io
      - Quix__Sdk__Token=${QUIX_SDK_TOKEN}
      - use_local_kafka=true
    depends_on:
      - redpanda

  name-counter:
    container_name: name-counter
    restart: always
    build:
      context: "./name counter"
    environment:
      - KAFKA_BROKER_ADDRESS=redpanda:9092
      - input=csv-data
      - output=counted-names
      - Quix__Portal__Api=https://portal-api.platform.quix.io
      - Quix__Sdk__Token=${QUIX_SDK_TOKEN}
      - use_local_kafka=true
    depends_on:
      - redpanda

  console-logger:
    container_name: console-logger
    restart: always
    build:
      context: "./console logger"
    environment:
      - KAFKA_BROKER_ADDRESS=redpanda:9092
      - input=counted-names
      - Quix__Portal__Api=https://portal-api.platform.quix.io
      - Quix__Sdk__Token=${QUIX_SDK_TOKEN}
      - use_local_kafka=true
    depends_on:
      - redpanda
